CREATE OR REPLACE FUNCTION public.cancel_invoice(p_invoice_id uuid, p_cancel_reason character varying)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id  UUID := auth.uid();
  v_invoice  RECORD;
  v_payment  RECORD;
  v_item     RECORD;
  v_debt     RECORD;
BEGIN
  -- جلب الفاتورة مع قفل
  SELECT * INTO v_invoice FROM invoices WHERE id = p_invoice_id FOR UPDATE;
  IF NOT FOUND THEN RAISE EXCEPTION 'ERR_INVOICE_NOT_FOUND'; END IF;
  IF v_invoice.status IN ('returned', 'partially_returned')
     OR EXISTS (SELECT 1 FROM returns WHERE original_invoice_id = p_invoice_id) THEN
    RAISE EXCEPTION 'ERR_CANCEL_HAS_RETURN';
  END IF;
  IF v_invoice.status <> 'active' THEN RAISE EXCEPTION 'ERR_CANCEL_ALREADY'; END IF;

  -- Fix #2: منع إلغاء الفاتورة إذا كان دينها مسدد جزئياً لمنع تلف الديون
  IF v_invoice.debt_amount > 0 AND EXISTS (SELECT 1 FROM debt_entries WHERE invoice_id = p_invoice_id AND paid_amount > 0) THEN
    RAISE EXCEPTION 'ERR_CANNOT_CANCEL_PAID_DEBT';
  END IF;

  -- تحديث حالة الفاتورة
  UPDATE invoices SET
    status = 'cancelled', cancel_reason = p_cancel_reason,
    cancelled_by = v_user_id, cancelled_at = now()
  WHERE id = p_invoice_id;

  -- إرجاع المخزون
  FOR v_item IN SELECT ii.*, p.track_stock FROM invoice_items ii
    JOIN products p ON p.id = ii.product_id WHERE ii.invoice_id = p_invoice_id
  LOOP
    IF v_item.track_stock THEN
      UPDATE products SET stock_quantity = stock_quantity + v_item.quantity
        WHERE id = v_item.product_id;
    END IF;
  END LOOP;

  -- عكس المدفوعات (قيود عكسية)
  FOR v_payment IN SELECT * FROM payments WHERE invoice_id = p_invoice_id LOOP
    INSERT INTO ledger_entries (
      account_id, entry_type, amount, reference_type, reference_id, description, created_by
    ) VALUES (
      v_payment.account_id, 'expense', v_payment.net_amount,
      'reversal', p_invoice_id,
      'عكس فاتورة ملغية ' || v_invoice.invoice_number, v_user_id
    );
    UPDATE accounts SET current_balance = current_balance - v_payment.net_amount
      WHERE id = v_payment.account_id;
  END LOOP;

  -- عكس الدين (إن وجد)
  IF v_invoice.debt_amount > 0 AND v_invoice.debt_customer_id IS NOT NULL THEN
    UPDATE debt_customers
      SET current_balance = current_balance - v_invoice.debt_amount
      WHERE id = v_invoice.debt_customer_id;

    UPDATE debt_entries SET is_paid = true, paid_amount = amount, remaining_amount = 0
      WHERE invoice_id = p_invoice_id AND is_paid = false;
  END IF;

  -- إشعار الإلغاء
  INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
  SELECT p.id, 'invoice_cancelled',
    'فاتورة ملغية: ' || v_invoice.invoice_number,
    'السبب: ' || p_cancel_reason || ' — المبلغ: ' || v_invoice.total_amount || ' د.أ',
    'invoice', p_invoice_id
  FROM profiles p WHERE p.role = 'admin';

  -- Audit
  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, old_values)
  VALUES (v_user_id, 'cancel_invoice', 'invoices', p_invoice_id,
    'إلغاء فاتورة ' || v_invoice.invoice_number,
    jsonb_build_object('total', v_invoice.total_amount, 'reason', p_cancel_reason));

  RETURN jsonb_build_object('success', true, 'invoice_number', v_invoice.invoice_number);
END;
$function$

