CREATE OR REPLACE FUNCTION public.complete_inventory_count(p_inventory_count_id uuid, p_items jsonb)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id       UUID := auth.uid();
  v_count         RECORD;
  v_item          JSONB;
  v_adjusted      INT := 0;
  v_total_diff    INT := 0;
  v_sys_qty       INT;
  v_act_qty       INT;
  v_diff          INT;
BEGIN
  SELECT * INTO v_count FROM inventory_counts WHERE id = p_inventory_count_id FOR UPDATE;
  IF NOT FOUND THEN RAISE EXCEPTION 'ERR_COUNT_NOT_FOUND'; END IF;
  IF v_count.status = 'completed' THEN RAISE EXCEPTION 'ERR_COUNT_ALREADY_COMPLETED'; END IF;

  FOR v_item IN SELECT * FROM jsonb_array_elements(p_items) LOOP
    v_act_qty := (v_item->>'actual_quantity')::INT;
    IF v_act_qty < 0 THEN RAISE EXCEPTION 'ERR_VALIDATION_NEGATIVE_QUANTITY'; END IF;

    -- جلب الكمية الحالية من النظام
    SELECT stock_quantity INTO v_sys_qty FROM products
      WHERE id = (v_item->>'product_id')::UUID FOR UPDATE;

    v_diff := v_act_qty - v_sys_qty;

    -- إدخال/تحديث بند الجرد
    INSERT INTO inventory_count_items (
      inventory_count_id, product_id, system_quantity, actual_quantity,
      difference, reason
    ) VALUES (
      p_inventory_count_id, (v_item->>'product_id')::UUID,
      v_sys_qty, v_act_qty, v_diff,
      COALESCE(v_item->>'reason', NULL)
    )
    ON CONFLICT ON CONSTRAINT uq_count_product DO UPDATE SET
      actual_quantity = EXCLUDED.actual_quantity,
      difference = EXCLUDED.difference,
      reason = EXCLUDED.reason;

    -- تحديث المخزون إذا يوجد فرق
    IF v_diff <> 0 THEN
      UPDATE products SET stock_quantity = v_act_qty
        WHERE id = (v_item->>'product_id')::UUID;
      v_adjusted := v_adjusted + 1;
      v_total_diff := v_total_diff + ABS(v_diff);
    END IF;
  END LOOP;

  -- إكمال الجرد
  UPDATE inventory_counts SET status = 'completed', completed_at = now()
    WHERE id = p_inventory_count_id;

  -- إشعار إذا يوجد فروقات
  IF v_adjusted > 0 THEN
    INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
    SELECT p.id, 'low_stock',
      'فروقات جرد: ' || v_adjusted || ' منتج',
      'إجمالي الفرق: ' || v_total_diff || ' وحدة',
      'inventory_count', p_inventory_count_id
    FROM profiles p WHERE p.role = 'admin';
  END IF;

  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, new_values)
  VALUES (v_user_id, 'complete_inventory_count', 'inventory_counts', p_inventory_count_id,
    'إكمال جرد', jsonb_build_object('adjusted', v_adjusted, 'total_diff', v_total_diff));

  RETURN jsonb_build_object(
    'count_id', p_inventory_count_id, 'adjusted_products', v_adjusted,
    'total_difference', v_total_diff
  );
END;
$function$

