CREATE OR REPLACE FUNCTION public.create_sale(p_items jsonb, p_payments jsonb, p_customer_name character varying DEFAULT NULL::character varying, p_customer_phone character varying DEFAULT NULL::character varying, p_debt_customer_id uuid DEFAULT NULL::uuid, p_discount_by uuid DEFAULT NULL::uuid, p_pos_terminal character varying DEFAULT NULL::character varying, p_notes text DEFAULT NULL::text, p_idempotency_key uuid DEFAULT NULL::uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id         UUID := auth.uid();
  v_invoice_id      UUID;
  v_invoice_number  VARCHAR;
  v_item            JSONB;
  v_product         RECORD;
  v_subtotal        DECIMAL(12,3) := 0;
  v_total_discount  DECIMAL(12,3) := 0;
  v_total_amount    DECIMAL(12,3) := 0;
  v_debt_amount     DECIMAL(12,3) := 0;
  v_item_discount_pct  DECIMAL(5,2);
  v_item_discount_amt  DECIMAL(12,3);
  v_item_total      DECIMAL(12,3);
  v_line_subtotal   DECIMAL(12,3);
  v_payment         JSONB;
  v_pay_total       DECIMAL(12,3) := 0;
  v_account         RECORD;
  v_fee             DECIMAL(12,3);
  v_net             DECIMAL(12,3);
  v_max_discount    DECIMAL(5,2);
  v_user_role       VARCHAR;
  v_change          DECIMAL(12,3) := 0;
  v_low_stock_thresh INT;
  v_retry_count     INT := 0;
  v_max_retries     INT := 2;
BEGIN
  -- ═══ التحقق من Idempotency ═══
  IF p_idempotency_key IS NOT NULL THEN
    IF EXISTS (SELECT 1 FROM invoices WHERE idempotency_key = p_idempotency_key) THEN
      RAISE EXCEPTION 'ERR_IDEMPOTENCY';
    END IF;
  END IF;

  -- ═══ جلب إعدادات النظام ═══
  SELECT value::DECIMAL INTO v_max_discount
    FROM system_settings WHERE key = 'max_pos_discount_percentage';
  SELECT value::INT INTO v_low_stock_thresh
    FROM system_settings WHERE key = 'low_stock_threshold';
  SELECT role INTO v_user_role FROM profiles WHERE id = v_user_id;

  -- ═══ توليد رقم الفاتورة ═══
  v_invoice_number := fn_generate_number('INV');
  v_invoice_id := gen_random_uuid();

  -- ═══ معالجة البنود (Server-Authoritative Pricing — ADR-043) ═══
  -- ترتيب ثابت على product_id لتقليل احتمالات deadlock بين نقاط البيع المتزامنة.
  <<sale_items_retry>>
  LOOP
    BEGIN
      v_subtotal := 0;
      v_total_discount := 0;
      DELETE FROM invoice_items WHERE invoice_id = v_invoice_id;

      FOR v_item IN
        SELECT j.item
        FROM jsonb_array_elements(p_items) AS j(item)
        ORDER BY (j.item->>'product_id')::UUID
      LOOP
        -- قفل المنتج لمنع التضارب (SELECT FOR UPDATE)
        SELECT id, name, sale_price, cost_price, stock_quantity, track_stock
          INTO v_product
          FROM products
          WHERE id = (v_item->>'product_id')::UUID
          FOR UPDATE;

        IF NOT FOUND THEN
          RAISE EXCEPTION 'ERR_PRODUCT_NOT_FOUND';
        END IF;

        -- التحقق من المخزون
        IF v_product.track_stock AND
           v_product.stock_quantity < (v_item->>'quantity')::INT THEN
          RAISE EXCEPTION 'ERR_STOCK_INSUFFICIENT';
        END IF;

        -- حساب الخصم (ADR-043: السعر من DB وليس من العميل)
        v_item_discount_pct := COALESCE((v_item->>'discount_percentage')::DECIMAL, 0);

        -- التحقق من حد الخصم للموظف
        IF v_user_role = 'pos_staff' AND v_item_discount_pct > v_max_discount THEN
          RAISE EXCEPTION 'ERR_DISCOUNT_EXCEEDED';
        END IF;

        v_line_subtotal := v_product.sale_price * (v_item->>'quantity')::INT;
        v_item_discount_amt := ROUND(v_line_subtotal * v_item_discount_pct / 100, 3);
        v_item_total := v_line_subtotal - v_item_discount_amt;

        -- إدخال بند الفاتورة
        INSERT INTO invoice_items (
          id, invoice_id, product_id, product_name_at_time,
          quantity, unit_price, cost_price_at_time,
          discount_percentage, discount_amount, total_price
        ) VALUES (
          gen_random_uuid(), v_invoice_id, v_product.id, v_product.name,
          (v_item->>'quantity')::INT, v_product.sale_price,
          COALESCE(v_product.cost_price, 0),
          v_item_discount_pct, v_item_discount_amt, v_item_total
        );

        -- خصم المخزون
        IF v_product.track_stock THEN
          UPDATE products
            SET stock_quantity = stock_quantity - (v_item->>'quantity')::INT
            WHERE id = v_product.id;

          -- تنبيه مخزون منخفض
          IF (v_product.stock_quantity - (v_item->>'quantity')::INT) <= v_low_stock_thresh THEN
            INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
            SELECT p.id, 'low_stock',
              'مخزون منخفض: ' || v_product.name,
              'الكمية المتبقية: ' || (v_product.stock_quantity - (v_item->>'quantity')::INT),
              'product', v_product.id
            FROM profiles p WHERE p.role = 'admin';
          END IF;
        END IF;

        v_subtotal := v_subtotal + v_line_subtotal;
        v_total_discount := v_total_discount + v_item_discount_amt;
      END LOOP;

      EXIT sale_items_retry;
    EXCEPTION
      WHEN deadlock_detected OR lock_not_available THEN
        v_retry_count := v_retry_count + 1;
        IF v_retry_count > v_max_retries THEN
          RAISE EXCEPTION 'ERR_CONCURRENT_STOCK_UPDATE';
        END IF;
        PERFORM pg_sleep(0.05 * v_retry_count);
    END;
  END LOOP;

  v_total_amount := v_subtotal - v_total_discount;

  -- ═══ حساب مبلغ الدين ═══
  IF p_debt_customer_id IS NOT NULL THEN
    FOR v_payment IN SELECT * FROM jsonb_array_elements(p_payments) LOOP
      v_pay_total := v_pay_total + (v_payment->>'amount')::DECIMAL;
    END LOOP;
    v_debt_amount := v_total_amount - v_pay_total;
    IF v_debt_amount < 0 THEN
      v_change := ABS(v_debt_amount);
      v_debt_amount := 0;
    END IF;
  ELSE
    -- بدون دين: مجموع الدفعات يجب ألا يتجاوز الإجمالي، ولا يقل عنه (الدفع مضبوط)
    FOR v_payment IN SELECT * FROM jsonb_array_elements(p_payments) LOOP
      v_pay_total := v_pay_total + (v_payment->>'amount')::DECIMAL;
    END LOOP;
    IF v_pay_total < v_total_amount THEN
      RAISE EXCEPTION 'ERR_PAYMENT_MISMATCH';
    END IF;
    -- Fix #1: منع تسجيل دخل وهمي أكبر من قيمة الفاتورة للصندوق
    v_change := v_pay_total - v_total_amount;
  END IF;

  -- ═══ إنشاء الفاتورة ═══
  INSERT INTO invoices (
    id, invoice_number, customer_name, customer_phone,
    subtotal, discount_amount, discount_by, total_amount,
    debt_amount, debt_customer_id, status,
    pos_terminal_code, notes, idempotency_key, created_by
  ) VALUES (
    v_invoice_id, v_invoice_number, p_customer_name, p_customer_phone,
    v_subtotal, v_total_discount, p_discount_by, v_total_amount,
    v_debt_amount, p_debt_customer_id, 'active',
    p_pos_terminal, p_notes, p_idempotency_key, v_user_id
  );

  -- ═══ إنشاء المدفوعات + قيود محاسبية ═══
  FOR v_payment IN SELECT * FROM jsonb_array_elements(p_payments) LOOP
    SELECT id, fee_percentage INTO v_account
      FROM accounts WHERE id = (v_payment->>'account_id')::UUID;

    -- Fix #1: إذا كان هناك صرف (v_change) يتم خصمه من عملية الدفع الأساسية حتى لا يُسجل Income مبالغ فيه
    -- يفترض غالباً أن الدفع كاش هو من يمتص الـ change في البيع المباشر
    v_net := (v_payment->>'amount')::DECIMAL;
    IF v_change > 0 AND v_net > v_change THEN
      v_net := v_net - v_change;
      v_change := 0; -- صرفنا الباقي
    ELSIF v_change > 0 AND v_net <= v_change THEN
      v_change := v_change - v_net;
      v_net := 0; -- الدفعة كلها ذهبت كباقي (نادر الحدوث عملياً لكن للحماية)
    END IF;

    IF v_net > 0 THEN
      v_fee := ROUND(v_net * v_account.fee_percentage / 100, 3);
      v_net := v_net - v_fee;

      INSERT INTO payments (invoice_id, account_id, amount, fee_amount, net_amount)
      VALUES (v_invoice_id, v_account.id, v_net + v_fee, v_fee, v_net);

      -- قيد محاسبي: income
      INSERT INTO ledger_entries (
        account_id, entry_type, amount, reference_type, reference_id, description, created_by
      ) VALUES (
        v_account.id, 'income', v_net, 'invoice', v_invoice_id,
        'فاتورة بيع ' || v_invoice_number, v_user_id
      );

      -- تحديث رصيد الحساب
      UPDATE accounts SET current_balance = current_balance + v_net
        WHERE id = v_account.id;
    END IF;
  END LOOP;

  -- ═══ إنشاء قيد الدين (إن وجد) ═══
  IF v_debt_amount > 0 AND p_debt_customer_id IS NOT NULL THEN
    INSERT INTO debt_entries (
      debt_customer_id, entry_type, invoice_id, amount,
      due_date, remaining_amount, created_by
    ) VALUES (
      p_debt_customer_id, 'from_invoice', v_invoice_id, v_debt_amount,
      CURRENT_DATE + (SELECT due_date_days FROM debt_customers WHERE id = p_debt_customer_id),
      v_debt_amount, v_user_id
    );

    UPDATE debt_customers
      SET current_balance = current_balance + v_debt_amount
      WHERE id = p_debt_customer_id;

    -- تنبيه تجاوز حد الدين
    IF (SELECT current_balance FROM debt_customers WHERE id = p_debt_customer_id)
       > (SELECT credit_limit FROM debt_customers WHERE id = p_debt_customer_id) THEN
      INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
      SELECT p.id, 'debt_limit_exceeded',
        'تجاوز حد الدين',
        'العميل تجاوز حد الدين المسموح',
        'invoice', v_invoice_id
      FROM profiles p WHERE p.role = 'admin';
    END IF;
  END IF;

  -- ═══ تنبيه خصم كبير ═══
  IF v_total_discount > 0 AND p_discount_by IS NOT NULL
     AND (v_total_discount / NULLIF(v_subtotal, 0) * 100) >= COALESCE(
       (SELECT value::DECIMAL FROM system_settings WHERE key = 'discount_warning_threshold'), 10
     ) THEN
    INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
    SELECT p.id, 'large_discount',
      'خصم في فاتورة ' || v_invoice_number,
      'مبلغ الخصم: ' || v_total_discount || ' د.أ',
      'invoice', v_invoice_id
    FROM profiles p WHERE p.role = 'admin';
  END IF;

  -- ═══ Audit Log ═══
  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, new_values)
  VALUES (v_user_id, 'create_sale', 'invoices', v_invoice_id,
    'إنشاء فاتورة ' || v_invoice_number,
    jsonb_build_object('total', v_total_amount, 'items_count', jsonb_array_length(p_items)));

  RETURN jsonb_build_object(
    'invoice_id', v_invoice_id,
    'invoice_number', v_invoice_number,
    'total', v_total_amount,
    'change', v_change
  );
END;
$function$

