CREATE OR REPLACE FUNCTION public.create_return(p_invoice_id uuid, p_items jsonb, p_refund_account_id uuid DEFAULT NULL::uuid, p_reason character varying DEFAULT ''::character varying, p_idempotency_key uuid DEFAULT NULL::uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id        UUID := auth.uid();
  v_return_id      UUID := gen_random_uuid();
  v_return_number  VARCHAR;
  v_invoice        RECORD;
  v_item           JSONB;
  v_inv_item       RECORD;
  v_return_total   DECIMAL(12,3) := 0;
  v_item_unit_price DECIMAL(12,3);
  v_item_total     DECIMAL(12,3);
  v_return_type    return_type;
  v_all_returned   BOOLEAN := true;
BEGIN
  -- Idempotency
  IF p_idempotency_key IS NOT NULL THEN
    IF EXISTS (SELECT 1 FROM returns WHERE idempotency_key = p_idempotency_key) THEN
      RAISE EXCEPTION 'ERR_IDEMPOTENCY';
    END IF;
  END IF;

  -- Fix #1 (Red Team Audit): قفل الفاتورة الأم لمنع الـ Race Condition في المرتجعات الموازية
  SELECT * INTO v_invoice FROM invoices WHERE id = p_invoice_id FOR UPDATE;
  IF NOT FOUND THEN RAISE EXCEPTION 'ERR_INVOICE_NOT_FOUND'; END IF;
  IF v_invoice.status <> 'active' THEN RAISE EXCEPTION 'ERR_INVOICE_CANCELLED'; END IF;

  v_return_number := fn_generate_number('RET');

  -- معالجة البنود
  FOR v_item IN SELECT * FROM jsonb_array_elements(p_items) LOOP
    SELECT * INTO v_inv_item FROM invoice_items
      WHERE id = (v_item->>'invoice_item_id')::UUID FOR UPDATE;

    IF NOT FOUND THEN RAISE EXCEPTION 'ERR_ITEM_NOT_FOUND'; END IF;

    -- التحقق من الكمية المتاحة للإرجاع
    IF (v_item->>'quantity')::INT > (v_inv_item.quantity - v_inv_item.returned_quantity) THEN
      RAISE EXCEPTION 'ERR_RETURN_QUANTITY';
    END IF;

    -- حساب سعر الوحدة الفعلي (بعد الخصم)
    v_item_unit_price := v_inv_item.total_price / v_inv_item.quantity;
    v_item_total := ROUND(v_item_unit_price * (v_item->>'quantity')::INT, 3);

    INSERT INTO return_items (return_id, invoice_item_id, quantity, unit_price, total_price)
    VALUES (v_return_id, v_inv_item.id, (v_item->>'quantity')::INT, v_item_unit_price, v_item_total);

    -- تحديث returned_quantity
    UPDATE invoice_items
      SET returned_quantity = returned_quantity + (v_item->>'quantity')::INT,
          is_returned = CASE
            WHEN returned_quantity + (v_item->>'quantity')::INT >= quantity THEN true
            ELSE is_returned END
      WHERE id = v_inv_item.id;

    -- إرجاع المخزون
    UPDATE products SET stock_quantity = stock_quantity + (v_item->>'quantity')::INT
      WHERE id = v_inv_item.product_id
      AND track_stock = true;

    v_return_total := v_return_total + v_item_total;
  END LOOP;

  -- تحديد نوع المرتجع
  SELECT bool_and(returned_quantity >= quantity) INTO v_all_returned
    FROM invoice_items WHERE invoice_id = p_invoice_id;
  v_return_type := CASE WHEN v_all_returned THEN 'full' ELSE 'partial' END;

  -- إنشاء سجل المرتجع
  INSERT INTO returns (
    id, return_number, original_invoice_id, return_type,
    total_amount, refund_account_id, reason, idempotency_key, created_by
  ) VALUES (
    v_return_id, v_return_number, p_invoice_id, v_return_type,
    v_return_total, p_refund_account_id, p_reason, p_idempotency_key, v_user_id
  );

  -- ═══ تحديث حالة الفاتورة (Fix #1) ═══
  IF v_return_type = 'full' THEN
    UPDATE invoices SET status = 'returned' WHERE id = p_invoice_id;
  ELSE
    UPDATE invoices SET status = 'partially_returned' WHERE id = p_invoice_id;
  END IF;

  -- ═══ قيد محاسبي: استرداد مالي أو خصم من الدين (Fix #3) ═══
  IF p_refund_account_id IS NOT NULL THEN
    INSERT INTO ledger_entries (
      account_id, entry_type, amount, reference_type, reference_id, description, created_by
    ) VALUES (
      p_refund_account_id, 'expense', v_return_total, 'return', v_return_id,
      'مرتجع ' || v_return_number || ' من فاتورة ' || v_invoice.invoice_number, v_user_id
    );
    UPDATE accounts SET current_balance = current_balance - v_return_total
      WHERE id = p_refund_account_id;
  ELSIF v_invoice.debt_customer_id IS NOT NULL THEN
    UPDATE debt_customers
      SET current_balance = current_balance - v_return_total
      WHERE id = v_invoice.debt_customer_id;

    -- Fix #3: تحديث سجل الدين التفصيلي حتى لا يبقى معلقاً ويخصم من مدفوعات العميل بغير حق
    UPDATE debt_entries SET
      remaining_amount = GREATEST(0, remaining_amount - v_return_total),
      amount = GREATEST(0, amount - v_return_total),
      is_paid = CASE WHEN GREATEST(0, remaining_amount - v_return_total) = 0 THEN true ELSE is_paid END
    WHERE invoice_id = p_invoice_id AND entry_type = 'from_invoice';
  ELSE
    -- ⛔ لا حساب استرداد ولا عميل دين — مرتجع بدون أثر مالي ممنوع
    RAISE EXCEPTION 'ERR_RETURN_REFUND_ACCOUNT_REQUIRED';
  END IF;

  -- Audit
  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, new_values)
  VALUES (v_user_id, 'create_return', 'returns', v_return_id,
    'مرتجع ' || v_return_number,
    jsonb_build_object('type', v_return_type, 'total', v_return_total));

  RETURN jsonb_build_object(
    'return_id', v_return_id, 'return_number', v_return_number,
    'return_type', v_return_type, 'total', v_return_total
  );
END;
$function$

