CREATE OR REPLACE FUNCTION public.create_purchase(p_supplier_id uuid, p_items jsonb, p_is_paid boolean DEFAULT true, p_payment_account_id uuid DEFAULT NULL::uuid, p_notes text DEFAULT NULL::text, p_idempotency_key uuid DEFAULT NULL::uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id     UUID := auth.uid();
  v_purchase_id UUID := gen_random_uuid();
  v_purchase_num VARCHAR;
  v_item        JSONB;
  v_total       DECIMAL(12,3) := 0;
  v_item_total  DECIMAL(12,3);
BEGIN
  IF p_idempotency_key IS NOT NULL THEN
    IF EXISTS (SELECT 1 FROM purchase_orders WHERE idempotency_key = p_idempotency_key) THEN
      RAISE EXCEPTION 'ERR_IDEMPOTENCY';
    END IF;
  END IF;

  IF p_is_paid AND p_payment_account_id IS NULL THEN
    RAISE EXCEPTION 'ERR_VALIDATION_REQUIRED_FIELD';
  END IF;

  v_purchase_num := fn_generate_number('PUR');

  -- معالجة البنود + تحديث المخزون والتكلفة
  FOR v_item IN SELECT * FROM jsonb_array_elements(p_items) LOOP
    v_item_total := (v_item->>'quantity')::INT * (v_item->>'unit_cost')::DECIMAL;
    v_total := v_total + v_item_total;

    INSERT INTO purchase_items (purchase_id, product_id, quantity, unit_cost, total_cost)
    VALUES (v_purchase_id, (v_item->>'product_id')::UUID,
      (v_item->>'quantity')::INT, (v_item->>'unit_cost')::DECIMAL, v_item_total);

    -- تحديث المخزون وسعر التكلفة + المتوسط المرجح
    UPDATE products SET
      stock_quantity = stock_quantity + (v_item->>'quantity')::INT,
      cost_price = (v_item->>'unit_cost')::DECIMAL,
      avg_cost_price = CASE
        WHEN COALESCE(stock_quantity, 0) + (v_item->>'quantity')::INT = 0 THEN (v_item->>'unit_cost')::DECIMAL
        ELSE ROUND(
          (COALESCE(avg_cost_price, cost_price, 0) * COALESCE(stock_quantity, 0)
           + (v_item->>'unit_cost')::DECIMAL * (v_item->>'quantity')::INT)
          / (COALESCE(stock_quantity, 0) + (v_item->>'quantity')::INT), 3)
      END
    WHERE id = (v_item->>'product_id')::UUID;
  END LOOP;

  INSERT INTO purchase_orders (
    id, purchase_number, supplier_id, total_amount, is_paid,
    payment_account_id, notes, idempotency_key, created_by
  ) VALUES (
    v_purchase_id, v_purchase_num, p_supplier_id, v_total, p_is_paid,
    p_payment_account_id, p_notes, p_idempotency_key, v_user_id
  );

  -- إذا مدفوع: خصم من الحساب + قيد محاسبي
  IF p_is_paid THEN
    INSERT INTO ledger_entries (account_id, entry_type, amount, reference_type, reference_id, description, created_by)
    VALUES (p_payment_account_id, 'expense', v_total, 'purchase', v_purchase_id,
      'شراء ' || v_purchase_num, v_user_id);
    UPDATE accounts SET current_balance = current_balance - v_total WHERE id = p_payment_account_id;
  ELSE
    -- على الحساب: تحديث رصيد المورد
    UPDATE suppliers SET current_balance = current_balance + v_total WHERE id = p_supplier_id;
  END IF;

  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, new_values)
  VALUES (v_user_id, 'create_purchase', 'purchase_orders', v_purchase_id,
    'شراء ' || v_purchase_num, jsonb_build_object('total', v_total, 'is_paid', p_is_paid));

  RETURN jsonb_build_object('purchase_order_id', v_purchase_id,
    'purchase_number', v_purchase_num, 'total', v_total);
END;
$function$

