CREATE OR REPLACE FUNCTION public.edit_invoice(p_invoice_id uuid, p_items jsonb, p_payments jsonb, p_debt_customer_id uuid DEFAULT NULL::uuid, p_edit_reason character varying DEFAULT ''::character varying, p_idempotency_key uuid DEFAULT NULL::uuid)
 RETURNS jsonb
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
DECLARE
  v_user_id         UUID := auth.uid();
  v_user_role       VARCHAR;
  v_invoice         RECORD;
  v_item            JSONB;
  v_payment         JSONB;
  v_old_item        RECORD;
  v_old_payment     RECORD;
  v_product         RECORD;
  v_account         RECORD;
  v_subtotal        DECIMAL(12,3) := 0;
  v_total_discount  DECIMAL(12,3) := 0;
  v_total_amount    DECIMAL(12,3) := 0;
  v_debt_amount     DECIMAL(12,3) := 0;
  v_item_discount_pct  DECIMAL(5,2);
  v_item_discount_amt  DECIMAL(12,3);
  v_item_total      DECIMAL(12,3);
  v_line_subtotal   DECIMAL(12,3);
  v_pay_total       DECIMAL(12,3) := 0;
  v_fee             DECIMAL(12,3);
  v_net             DECIMAL(12,3);
  v_change          DECIMAL(12,3) := 0;
  v_max_discount    DECIMAL(5,2);
  v_low_stock_thresh INT;
  v_reason_min_chars INT := 50;
  v_old_values      JSONB;
  v_new_values      JSONB;
BEGIN
  -- ═══ Authorization (Admin فقط) ═══
  SELECT role INTO v_user_role FROM profiles WHERE id = v_user_id;
  IF v_user_role IS NULL OR v_user_role <> 'admin' THEN
    RAISE EXCEPTION 'ERR_UNAUTHORIZED';
  END IF;

  -- ═══ Idempotency ═══
  IF p_idempotency_key IS NOT NULL THEN
    IF EXISTS (
      SELECT 1 FROM audit_logs
      WHERE action_type = 'edit_invoice'
        AND new_values->>'idempotency_key' = p_idempotency_key::TEXT
    ) THEN
      RAISE EXCEPTION 'ERR_IDEMPOTENCY';
    END IF;
  END IF;

  -- ═══ جلب إعدادات النظام ═══
  SELECT value::DECIMAL INTO v_max_discount
    FROM system_settings WHERE key = 'max_pos_discount_percentage';
  SELECT value::INT INTO v_low_stock_thresh
    FROM system_settings WHERE key = 'low_stock_threshold';
  SELECT COALESCE(
    (SELECT value::INT FROM system_settings WHERE key = 'require_reason_min_chars'), 50
  ) INTO v_reason_min_chars;

  -- ═══ التحقق من سبب التعديل ═══
  IF p_edit_reason IS NULL OR length(btrim(p_edit_reason)) < v_reason_min_chars THEN
    RAISE EXCEPTION 'ERR_CANCEL_REASON';
  END IF;

  -- ═══ قفل الفاتورة ═══
  SELECT * INTO v_invoice FROM invoices WHERE id = p_invoice_id FOR UPDATE;
  IF NOT FOUND THEN RAISE EXCEPTION 'ERR_INVOICE_NOT_FOUND'; END IF;
  IF v_invoice.status <> 'active' THEN RAISE EXCEPTION 'ERR_CANCEL_ALREADY'; END IF;

  -- ═══ لا مرتجعات ═══
  IF EXISTS (SELECT 1 FROM returns WHERE original_invoice_id = p_invoice_id) THEN
    RAISE EXCEPTION 'ERR_CANCEL_HAS_RETURN';
  END IF;

  -- ═══ حماية: منع تعديل فاتورة دينها مسدد جزئياً ═══
  IF v_invoice.debt_amount > 0 AND EXISTS (
    SELECT 1 FROM debt_entries
    WHERE invoice_id = p_invoice_id AND entry_type = 'from_invoice' AND paid_amount > 0
  ) THEN
    RAISE EXCEPTION 'ERR_UNAUTHORIZED';
  END IF;

  -- قفل عملاء الدين
  IF v_invoice.debt_customer_id IS NOT NULL THEN
    PERFORM 1 FROM debt_customers WHERE id = v_invoice.debt_customer_id FOR UPDATE;
  END IF;
  IF p_debt_customer_id IS NOT NULL AND p_debt_customer_id IS DISTINCT FROM v_invoice.debt_customer_id THEN
    PERFORM 1 FROM debt_customers WHERE id = p_debt_customer_id FOR UPDATE;
    IF NOT FOUND THEN RAISE EXCEPTION 'ERR_CUSTOMER_NOT_FOUND'; END IF;
  END IF;

  -- حفظ القيم القديمة
  v_old_values := jsonb_build_object(
    'subtotal', v_invoice.subtotal, 'discount_amount', v_invoice.discount_amount,
    'total_amount', v_invoice.total_amount, 'debt_amount', v_invoice.debt_amount,
    'debt_customer_id', v_invoice.debt_customer_id);

  -- ════════════════════════════════════════════
  -- المرحلة 1: عكس العمليات القديمة
  -- ════════════════════════════════════════════

  -- عكس المدفوعات القديمة
  FOR v_old_payment IN SELECT * FROM payments WHERE invoice_id = p_invoice_id LOOP
    INSERT INTO ledger_entries (
      account_id, entry_type, amount, reference_type, reference_id, description, created_by
    ) VALUES (
      v_old_payment.account_id, 'expense', v_old_payment.net_amount,
      'reversal', p_invoice_id,
      'عكس قيد تعديل فاتورة ' || v_invoice.invoice_number, v_user_id);
    UPDATE accounts SET current_balance = current_balance - v_old_payment.net_amount
      WHERE id = v_old_payment.account_id;
  END LOOP;

  -- إرجاع المخزون القديم
  FOR v_old_item IN
    SELECT ii.product_id, ii.quantity, p.track_stock
    FROM invoice_items ii JOIN products p ON p.id = ii.product_id
    WHERE ii.invoice_id = p_invoice_id FOR UPDATE OF p
  LOOP
    IF v_old_item.track_stock THEN
      UPDATE products SET stock_quantity = stock_quantity + v_old_item.quantity
        WHERE id = v_old_item.product_id;
    END IF;
  END LOOP;

  -- عكس الدين القديم
  IF v_invoice.debt_amount > 0 AND v_invoice.debt_customer_id IS NOT NULL THEN
    UPDATE debt_customers SET current_balance = current_balance - v_invoice.debt_amount
      WHERE id = v_invoice.debt_customer_id;
    UPDATE debt_entries SET is_paid = true, paid_amount = amount, remaining_amount = 0
      WHERE invoice_id = p_invoice_id AND entry_type = 'from_invoice' AND is_paid = false;
  END IF;

  -- ════════════════════════════════════════════
  -- المرحلة 2: تنفيذ العمليات الجديدة
  -- ════════════════════════════════════════════

  DELETE FROM payments WHERE invoice_id = p_invoice_id;
  DELETE FROM invoice_items WHERE invoice_id = p_invoice_id;

  -- إعادة إنشاء البنود (Server-Authoritative Pricing — ADR-043)
  FOR v_item IN SELECT * FROM jsonb_array_elements(p_items) LOOP
    SELECT id, name, sale_price, cost_price, stock_quantity, track_stock
      INTO v_product FROM products WHERE id = (v_item->>'product_id')::UUID FOR UPDATE;
    IF NOT FOUND THEN RAISE EXCEPTION 'ERR_PRODUCT_NOT_FOUND'; END IF;

    IF v_product.track_stock AND v_product.stock_quantity < (v_item->>'quantity')::INT THEN
      RAISE EXCEPTION 'ERR_STOCK_INSUFFICIENT';
    END IF;

    v_item_discount_pct := COALESCE((v_item->>'discount_percentage')::DECIMAL, 0);
    v_line_subtotal := v_product.sale_price * (v_item->>'quantity')::INT;
    v_item_discount_amt := ROUND(v_line_subtotal * v_item_discount_pct / 100, 3);
    v_item_total := v_line_subtotal - v_item_discount_amt;

    INSERT INTO invoice_items (
      id, invoice_id, product_id, product_name_at_time,
      quantity, unit_price, cost_price_at_time,
      discount_percentage, discount_amount, total_price
    ) VALUES (
      gen_random_uuid(), p_invoice_id, v_product.id, v_product.name,
      (v_item->>'quantity')::INT, v_product.sale_price,
      COALESCE(v_product.cost_price, 0),
      v_item_discount_pct, v_item_discount_amt, v_item_total);

    IF v_product.track_stock THEN
      UPDATE products SET stock_quantity = stock_quantity - (v_item->>'quantity')::INT
        WHERE id = v_product.id;
      IF (v_product.stock_quantity - (v_item->>'quantity')::INT) <= v_low_stock_thresh THEN
        INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
        SELECT p.id, 'low_stock', 'مخزون منخفض: ' || v_product.name,
          'الكمية المتبقية: ' || (v_product.stock_quantity - (v_item->>'quantity')::INT),
          'product', v_product.id
        FROM profiles p WHERE p.role = 'admin';
      END IF;
    END IF;

    v_subtotal := v_subtotal + v_line_subtotal;
    v_total_discount := v_total_discount + v_item_discount_amt;
  END LOOP;

  v_total_amount := v_subtotal - v_total_discount;

  -- حساب الدين والباقي
  FOR v_payment IN SELECT * FROM jsonb_array_elements(p_payments) LOOP
    v_pay_total := v_pay_total + (v_payment->>'amount')::DECIMAL;
  END LOOP;

  IF p_debt_customer_id IS NOT NULL THEN
    v_debt_amount := v_total_amount - v_pay_total;
    IF v_debt_amount < 0 THEN v_change := ABS(v_debt_amount); v_debt_amount := 0; END IF;
  ELSE
    IF v_pay_total < v_total_amount THEN RAISE EXCEPTION 'ERR_PAYMENT_MISMATCH'; END IF;
    v_change := v_pay_total - v_total_amount;
  END IF;

  -- تحديث الفاتورة
  UPDATE invoices SET
    subtotal = v_subtotal, discount_amount = v_total_discount,
    total_amount = v_total_amount, debt_amount = v_debt_amount,
    debt_customer_id = p_debt_customer_id
  WHERE id = p_invoice_id;

  -- إنشاء المدفوعات + القيود الجديدة
  FOR v_payment IN SELECT * FROM jsonb_array_elements(p_payments) LOOP
    SELECT id, fee_percentage INTO v_account
      FROM accounts WHERE id = (v_payment->>'account_id')::UUID;
    v_net := (v_payment->>'amount')::DECIMAL;
    IF v_change > 0 AND v_net > v_change THEN
      v_net := v_net - v_change; v_change := 0;
    ELSIF v_change > 0 AND v_net <= v_change THEN
      v_change := v_change - v_net; v_net := 0;
    END IF;
    IF v_net > 0 THEN
      v_fee := ROUND(v_net * v_account.fee_percentage / 100, 3);
      v_net := v_net - v_fee;
      INSERT INTO payments (invoice_id, account_id, amount, fee_amount, net_amount)
      VALUES (p_invoice_id, v_account.id, v_net + v_fee, v_fee, v_net);
      INSERT INTO ledger_entries (
        account_id, entry_type, amount, reference_type, reference_id, description, created_by
      ) VALUES (v_account.id, 'income', v_net, 'invoice', p_invoice_id,
        'تعديل فاتورة بيع ' || v_invoice.invoice_number, v_user_id);
      UPDATE accounts SET current_balance = current_balance + v_net WHERE id = v_account.id;
    END IF;
  END LOOP;

  -- إنشاء دين جديد
  IF v_debt_amount > 0 AND p_debt_customer_id IS NOT NULL THEN
    INSERT INTO debt_entries (
      debt_customer_id, entry_type, invoice_id, amount,
      due_date, remaining_amount, created_by
    ) VALUES (
      p_debt_customer_id, 'from_invoice', p_invoice_id, v_debt_amount,
      CURRENT_DATE + (SELECT due_date_days FROM debt_customers WHERE id = p_debt_customer_id),
      v_debt_amount, v_user_id);
    UPDATE debt_customers SET current_balance = current_balance + v_debt_amount
      WHERE id = p_debt_customer_id;
    IF (SELECT current_balance FROM debt_customers WHERE id = p_debt_customer_id)
       > (SELECT credit_limit FROM debt_customers WHERE id = p_debt_customer_id) THEN
      INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
      SELECT p.id, 'debt_limit_exceeded', 'تجاوز حد الدين',
        'العميل تجاوز حد الدين المسموح (بعد تعديل فاتورة)', 'invoice', p_invoice_id
      FROM profiles p WHERE p.role = 'admin';
    END IF;
  END IF;

  -- ═══ إشعار + سجل تدقيق ═══
  INSERT INTO notifications (user_id, type, title, body, reference_type, reference_id)
  SELECT p.id, 'retroactive_edit',
    'تعديل فاتورة: ' || v_invoice.invoice_number,
    'تم تعديل الفاتورة. السبب: ' || p_edit_reason ||
    ' | القديم: ' || v_invoice.total_amount || ' | الجديد: ' || v_total_amount,
    'invoice', p_invoice_id
  FROM profiles p WHERE p.role = 'admin';

  v_new_values := jsonb_build_object(
    'subtotal', v_subtotal, 'total_amount', v_total_amount,
    'debt_amount', v_debt_amount, 'edit_reason', p_edit_reason,
    'idempotency_key', p_idempotency_key);

  INSERT INTO audit_logs (user_id, action_type, table_name, record_id, description, old_values, new_values)
  VALUES (v_user_id, 'edit_invoice', 'invoices', p_invoice_id,
    'تعديل فاتورة ' || v_invoice.invoice_number, v_old_values, v_new_values);

  RETURN jsonb_build_object(
    'invoice_id', p_invoice_id, 'invoice_number', v_invoice.invoice_number, 'total', v_total_amount);
END;
$function$

